<header>
    <img 
        src="https://github.com/PedRufino.png" 
        alt="Pedro Rufino"
        width="130px"
        height="130px"
        loading="eager"
    />
    <h1>Pedro Rufino</h1>
</header>

<aside>
    <div class="container">
        <p>Python | Angular | MySQL | Java</p>
        <p>Leme, São Paulo, Brasil</p>
        <p>
            Na NAPP, minha atuação como Analista de Integração Júnior envolve aprimorar processos de ETL, utilizando 
            conhecimentos avançados em Python para criar automação de dados e fornecer insights para shopping centers.

            Formado pela ETEC em Desenvolvimento de Sistemas e atualmente aprofundando 
            meu conhecimento em Desenvolvimento de Software Multiplataformas na FATEC-SP.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/pedro-rufino-da-mata-neto" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Icone contato do whatsapp" width="22px" height="24px">
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5519998672207" target="_blank">
                        <strong>Envie uma menssagem para: </strong>
                        <p>WhatsApp: (19) 99867-2207</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="assets/icons/mail.svg" alt="Icone contato do whatsapp" width="22px" height="24px">
                <figcaption>
                    <a href="mailto:pedro.rmn19@gmail.com" target="_blank">
                        <strong>Envie um e-mail para: </strong>
                        <p>pedro.rmn19&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>